.category-articles {
    position: relative;
    width: calc(100% - 170px);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 60px);
}

.category-articles .article {
    margin-top: 50px;
}

.cat-articles-load {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}