.category-articles {
    position: relative;
    width: calc(100% - 170px);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: calc(100vh - 60px);
}

.category-articles .article {
    margin-top: 30px;
}

.cat-articles-load {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}