.category-list {
    height: 5.6em;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #E0E0E0;
    margin-top: -5.6em;
    transition: margin-top 1s;
}

.category {
    margin-left: 1.4em;
    width: 14em;
    height: 2.7em;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(128, 194, 255, 0) 100%), #1E6AFF;
    box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    font-family: Roboto;
    border: none;
    outline: none;
}

.category:hover {
    cursor: pointer;
}

.category:active {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(128, 194, 255, 0) 100%), #1effbc;
}

.selected {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(128, 194, 255, 0) 100%), #2115c7;
    box-shadow: 0px 4px 4px rgba(4, 0, 255, 0.25);
}

.category:last-child {
    margin-right: 1.4em;
}

.category-active {
    margin-top: 0 !important;
}