.type-select {
    background: linear-gradient(270deg, #FDFCF8 0%, rgba(255, 255, 255, 0) 99.98%, rgba(255, 255, 255, 0.0129032) 99.99%), #61C9A8;
    width: 15em;
    padding: 9px 0;
    position: relative;
}

.article-type {
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
    text-align: start;
    background: transparent;
    border: none;
    outline: none;
    padding: .5em 0 .5em .8em;
    transition: background .5s;
}

.article-type:hover {
    background: rgba(255, 51, 51, .25);
    cursor: pointer;
}

.type-selected {
    background: rgba(22, 169, 255, 0.5) !important;
}