.recent-page {
    position: relative;
}

.recent-articles {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: calc(100vh - 60px);
}

.recent-articles .article {
    margin-top: 30px;
}

.loading-recent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}