.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
.left-title{
  margin-top: 0;
  margin-bottom: 20px;
}
.left-description {
  top: calc(50% - 70px);
  transform: translate(0, -50%);
  position: relative;
  font-size: 24px;
  text-align: center;
}
.loginPage {
  height: 100%;
}
.leftSide {
  width: calc(66% - 100px);
  height: calc(100% - 50px);
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background: #61C9A8;
  position: absolute;
}
.rightSide {
  width: 34%;
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
}
.LogInput{
  width: 250px;
  height: 30px;
  font-size: 24px;
  line-height: 28px;
  margin-left: calc((100% - 255px) / 2);
  margin-right: calc((100% - 255px) / 2);
  margin-bottom: 15px;
}
.LogLabel {
  font-size: 18px;
}
.LogLink {
  text-decoration: none;
  color: #61C9A8!important;
}
body {
  height: 100%;
}
.logBut  {
  margin-top: 10px;
  width: 250px;
  height: 40px;
  border: 0;
  padding: 0;
  background: #61C9A8;
  font-size: 20px;
  color: white;
}
.logform {
  top: 50%;
  transform: translate(0, -51%);
  position: relative;
}
.error {
  color: red;
  font-size: 24px;
}